<!DOCTYPE html>
<html>
<head>
    <title>ArcGis Photo Overlay Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <header>
        <h1>ArcGis Photo Overlay Generator</h1>
    </header>
    <form method="post">
        <label for="login_name">Login Name:</label>
        <input type="text" name="login_name" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <label for="layer_url">Layer URL:</label>
        <input type="text" name="layer_url" required>
        <br>
        <input type="submit" value="Submit">

    </form>
    <footer><p>&copy; 2023 Trussy Bussy.INC All rights reserved.</p></footer>
</body>
</html>
